.btn-full{
    width: 100%;
}

.border-lite{
    border: solid black 1px;
}

h1 {
  color: white;
  font-size: 250%;
  background-color: black;
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
  text-align: center;
}

h2{
    width: 100%;
    text-align: center;
}

.full-size{
    padding:0px;
    margin: 0px;
}

.section-grp{
    
}